footer {
	margin-top: 50px;
}

footer p {
	text-align: center;
}

#btn_valid
{
	margin-top: 50px;
}

#download_frame
{
	visibility: hidden;
}

/*
@media (max-width: 992px) {
	body {
		zoom: 400%;
	}

}
*/